<input placeholder="pokemon name" (keyup.enter)="fetchPokemon($event.target.value)"/>
<input placeholder="set name" (keyup.enter)="fetchPokemonBySet($event.target.value)"/>
<button (click)="fetchTestData()">Base Set</button>
<button (click)="fetchTestPack()">Generate Pack</button>

<div class="row">
    <button type="button" class="btn btn-primary" (click)="sortByColor()">Sort by color</button>
    <button type="button" class="btn btn-secondary" (click)="sortByRarity()">Sort by rarity</button>
    <button type="button" class="btn btn-primary" (click)="sortBySuperType()">Sort by super type</button>
</div>
<div class="row">
  <div class="col-9">
    <h3>Pokemon Packs</h3>
    <ul class="card-list">
      <li *ngFor="let c of cards" appDroppable (dragStart)="currentBox = c" class="box card">
        <app-card [card]="c" [width]="60" [height]="83" (dblclick)="move(c, currentlySelectedCards)"></app-card>
        <div class="box box-helper" *appDraggableHelper><app-card [card]="c"></app-card></div>
      </li>
    </ul>
  </div>
  <div class="col-3">
      <app-selected-pokemon-card-info [selectedPokemon]="currentBox"></app-selected-pokemon-card-info>
  </div>
</div>
<h3>Selected Pokemon - {{currentlySelectedCards.length}}</h3>
<div class="row">
  <div class="dropzone col" appDropzone (drop)="move(currentBox, currentlySelectedCards)"
      (remove)="move(currentBox, cards)">
    <div *ngFor="let box of currentlySelectedCards" class="box"
        appDroppable (dragStart)="currentBox = box">
        <app-card [card]="box" [width]="60" [height]="83" (dblclick)="move(box, cards)"></app-card>
      <div class="box" *appDraggableHelper><app-card [card]="box"></app-card></div>
    </div>
  </div>
</div>