/* Add application styles & imports to this file! */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/cdk/overlay";
@include cdk-overlay();

.draggable {
  cursor: move;
  user-select: none;
}

.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}

.box {
    background: #BADA55;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
  
    &.dragging {
      background: coral;
    }
  }
  
  .dropzone {
    padding: 20px;
    margin: 20px 0;
    background: lightgray;
    min-height: 200px;
    border: 1px solid black;
  
    &.dropzone-activated {
      border: 1px solid red;
    }
  
    &.dropzone-entered {
      background-color: #efefef;
    }
  }
  
  